* {
  font-family: 'Poppins', sans-serif;
}

main {
  background: #dfdfde;
}

header {
  font-size: 1.5rem;
}

nav {
  background-color: rgb(7, 35, 7);
  padding: 2rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 30px;
  color: white;
  list-style: none;
}

.nav-list li {
  cursor: pointer;
  padding: 6px;
}

.logo {
  margin-right: auto;
}

.display-list-of-shows {
  max-width: 82%;
  display: flex;
  flex-wrap: wrap;
}

.shows-container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.display-show {
  width: 420px;
  margin: 12px;
  background-color: white;
  padding: 8px;
}

.title-like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-likes {
  margin: 0;
}

.display-show img {
  width: 400px;
  height: 500px;
}

.comment-submit-btn {
  width: 250px;
  margin-top: 20px;
}

.comment-btn {
  width: 100%;
}

.button_p {
  text-align: right;
  margin: 0;
}

.close-button {
  border: none;
  background: none;
  font-size: 35px;
  color: rgb(49, 46, 206);
}

.pop-up {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.pop-up-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.detail_container {
  display: flex;
  justify-content: space-around;
}

.display-popup-show {
  width: 60%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  padding-bottom: 30px;
}

.like-comment-btns span {
  font-size: 25px;
}

.show-title {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 22px;
}

.heart-like {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.like-heart {
  text-decoration: none;
}

.hide {
  display: none;
}

.comment_container {
  padding-left: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
  border: solid rgb(54, 54, 54) 0.5px;
  border-radius: 8px;
  padding: 1%;
}

.submit_button {
  background: rgb(16, 16, 212);
}

footer {
  background-color: rgb(7, 35, 7);
  padding: 2rem;
  margin-top: 2rem;
}

svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: aliceblue;
  background-color: rgb(7, 35, 7);
  transition: transform 0.1s;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 481px) and (min-width: 768px) {
  .detail_container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
  }

  .pop-up-img img {
    object-fit: cover;
    width: 100%;
    height: 580px;
    border-radius: 8px;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) and (max-width: 1100px) {
  .pop-up-img img {
    object-fit: fill;
    width: 100%;
    height: 580px;
    border-radius: 10px;
    padding-bottom: 20px;
  }
}
