@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
body {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 34px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(7, 35, 7);
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 30px;
    color: white;
    list-style: none;
}

.nav-list li {
    cursor: pointer;
}

.logo {
    margin-right: 800px;
    margin-left: 50px;
}

footer {
    background-color: rgb(7, 35, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    fill: aliceblue;
    background-color: rgb(7, 35, 7);
    transition: transform .1s;
}